        if(alt${alt.id}Matches(obj)}) {
#foreach($e in $alt.elements)
#if($e.namedElement())
            /* named element */ unparse(obj.get${Util.firstToUpper($e.name)}()) +
#elseif($e.namedSubRuleElement)
            /* n subrule       */ unparse${Util.firstToUpper($rule.name)}Alt${alt.id}SubRule(obj.get${Util.firstToUpper($e.text)}());
#elseif($e.unnamedSubRuleElement)
            /* u subrule       */ unparse${Util.firstToUpper($rule.name)}Alt${alt.id}SubRule(obj.get${Util.firstToUpper($e.name)}());
#else
            /* terminal element */ $e
#end## named-element
#end## each element in alt.elements
        }
